@inherits LayoutComponentBase

<div class="page-wrapper">
    <NavBar />
    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    Ha ocurrido un error inesperado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
